<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <title>ISS</title>
  </head>
  <body>
    <main>
      <h1>ISS</h1>
      <svg></svg>
      <ul>
        <li
          >This D3 visualisation shows you where the ISS is
          <b>right now</b>.</li
        >
        <li>It updates every second and the 🚀 points where it's going</li>
        <li>You can zoom and drag to see its tiny movements.</li>
      </ul>
    </main>
    <footer>
      Daniel van de Velde⠀❤️⠀
      <a href="https://wheretheiss.at/w/developer">Where the ISS at API</a>
    </footer>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="https://unpkg.com/topojson@3"></script>
    <script src="js/d3.js"></script>
  </body>
</html>
