<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>ISS</title>
  </head>
  <body>
    <h1>ISS</h1>
    <svg></svg>
    <ul>
      <li>This D3 visualisation shows you where the ISS is RIGHT NOW.</li>
      <li>It updates every second and its movements might be small.</li>
      <li>You can zoom and drag to get a better feel for where the ISS is.</li>
    </ul>
    <footer>
      Daniel van de Velde⠀❤️⠀
      <a href="https://wheretheiss.at/w/developer">Where the ISS at API</a>
    </footer>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="https://unpkg.com/topojson@3"></script>
    <script src="d3.js"></script>
  </body>
</html>
