body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #222;
  background-color: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 1em;
}

h1 {
  padding-top: 0;
  margin: 0;
  font-family: monospace;
  font-weight: bolder;
  font-size: 4.2em;
}

svg {
  background-color: steelblue;
  border-radius: 2em;
  margin: 1em;
  width: 100%;
  max-width: 1160;
  animation-duration: 3s;
  animation-name: helloWorld;
}

ul {
  list-style-type: none;
  text-align: center;
  padding: 0;
  font-size: 0.75em;
  color: #222;
}

ul > li {
  padding: 0.25em;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #333;
  color: #aaa;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2em;
  width: 100%;
}

svg:hover {
  cursor: grab;
}

svg:active {
  cursor: grabbing;
}

footer > a {
  color: #aaa;
}

footer > a:hover {
  color: steelblue;
}

@keyframes helloWorld {
  0% {
    margin: 250 0;
    width: 0;
    height: 0;
    border-radius: 0;
  }
  10% {
    margin: 250 0;
    width: 0;
    height: 0;
  }
  70% {
    margin: calc(250px - 0.5em) 0;
    height: 1em;
    width: 100%;
    max-width: 1160px;
    border-radius: 0;
  }
  100% {
    height: 500;
    border-radius: 2em;
  }
}

/*
@media only screen and (min-width: 1000px) {
  body::after {
    position: absolute;
    z-index: -1;
    bottom: 0;
    right: 0;
    content: "🚀";
    font-size: 5000%;
    opacity: 0.1;
  }
}
*/
